/* Element Chalk Variables */
/* Customize Variables */
:root {
    --color-primary: #0bb27a; //主题色  变量名，css3有规则
    --color-primary-select: #59c993;
    --color-primary-light: #b4e7d4;
}

$color-primary :var(--color-primary);
$color-primary-select :var(--color-primary-select);
$color-primary-light :var(--color-primary-light);
$color-info: #2d8cf0;
$color-success: #19be6b;
$color-warning: #f90;
$color-error: #f16543;
$color-title: #1c2438;
$color-sub: #80848f;
$color-content: #495060;
$color-hover: #f5f7fa;
$color-icon: #80848f;
$color-disabled:#bbbec4;
$color-border: #e1e6eb;
$color-divider: #f0f4f8;
$color-background: #f8f8f9;
$color-link: #0bb27a;
$color-link-hover: #59c993;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-huge: 30px;
$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-large: 8px;
$shadow-base: 0 3px 6px rgba(73, 80, 96, 0.1);
$shadow-card: 0 0 6px rgba(0, 0, 0, 0.1);
$shadow-card-big: 0 6px 16px rgba(73, 80, 96, 0.1);


$--color-primary: #0bb27a !default;