html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    outline: none;
}

/* HTML5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    cursor: pointer;
    color: $color-link;
    -webkit-backface-visibility: hidden;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}

li {
    list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-size: 14px;
    color: #495060;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

.line-scale {
    >div {
        background-color: $color-primary;
    }
}

// el
.custom-dialog {
    border-radius: 4px;

    .el-dialog__footer {
        padding: 12px 18px;
    }

    .el-dialog__header {
        padding: 14px 16px;
    }

    .el-dialog__title {
        font-weight: bold;
        font-size: 16px;
    }

    .el-dialog__close {
        font-size: 24px;
    }

    .el-dialog__headerbtn {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .el-dialog__body {
        border-bottom: 1px solid #e9eaec;
        border-top: 1px solid #e9eaec;
    }
}


.custom-message-box {
    padding-bottom: 0px;

    .el-message-box__header {
        padding: 14px 16px;
    }

    .el-message-box__content {
        border-bottom: 1px solid #e9eaec;
        border-top: 1px solid #e9eaec;
        padding: 32px;
    }

    .el-message-box__btns {
        padding: 12px 18px;
    }

    .el-message-box__title {
        font-weight: bold;
        font-size: 16px;
        color: $color-title;
    }

    .el-message-box__headerbtn {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .el-message-box__close {
        font-size: 24px;
    }
}